    <header class="branches">
        <h3>{% trans 'Branches of this sprout' %}</h3>
    </header>
    {% for branch in object.branch_set.select_related.all %}
    <article class="branch row {% cycle odd,even %}">
        <div class="avatar">
            <a href="{% url profiles_profile_detail branch.user %}">
                {% thumbnail branch.user.get_profile.avatar "48x48" as im %}
                <img src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" alt="{{ branch.user }}" />
                {% endthumbnail %}
            </a>                     
        </div>
        <h4><a href="{{ branch.target.get_absolute_url }}" target="_top" title="{{ branch.target.title }}">{{ branch.target }}</a></h4>
        <div class="meta">
            <address class="user">{% trans "Branch out by" %} <a href="{% url profiles_profile_detail branch.user %}">{{ branch.user }}</a></address>
            <time datetime="{{ branch.date_created|date:"c" }}">{{ branch.date_created|timesince }} {% trans 'ago' %}</time>
        </div>
    </article>
    {% empty %}
    <p class="no-record">{% trans "No branches yet" %}</p>
    {% endfor %}
