{% extends "sprouts/base_sprouts.html" %}
{% load tagging_tags pagination_tags %}
{% block title %}{% trans 'Tags' %} - {{ block.super }}{% endblock title %}
{% block breadcrumb %}{{ block.super }} &ndash; <a href="{% url sprouts_sprout_tags %}">{% trans "Tags" %}</a>{% endblock %}

{% block content %}
    {% autopaginate object_list 10 %}
    <header class="content">
        <h2>{% trans "Tags" %}</h2>
    </header>
    <section class="content">
        {% tag_cloud_for_model apps.sprouts.Sprout as tags with steps=9 min_count=1 distribution=log %}
        <p align="center">
        {% for tag in tags %}
            <span class="tag" style="font-size: 1.{{tag.font_size|add:"1"}}em"><a class="tag" href="{% url apps.sprouts.views.sprout_tagged tag.name|urlencode %}">{{tag.name}}</a></span> &nbsp;
        {% endfor %}
        </p>
    </section>
{% endblock %}
