{% extends "theme_base.html" %}

{% load i18n %}

{% block menu_navbar %}
        <ul class="nav">{% spaceless %}
            {% if user.is_authenticated %}
            <li id="tab_profile"><a href="{% url accounts_email_change user.username %}">{% trans "Profile" %}</a></li>
            <li id="tab_notices"><a href="{% url notification_notices %}">{% trans "Notices" %}</a>{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</li>
            {% endif %}
        {% endspaceless %}</ul>
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

